body {
    background-color: white;
}

.Header {
    display: none;
}

.Download h1 {
    display: none;
}

.Download a {
    display: none;
}

.Tutorial h1 {
    display: none;
}

.Tutorial a {
    display: none;
}

.Unsupported {
    text-align: center;
    margin-top: 20%;
    font-family: 'Lucida Sans Unicode';    
}

@media (max-width: 720px) {
    * {
        margin: 0;
        padding: 0;
        user-select: none;
        user-zoom: none;
    }
    
    body {
        background-color: #222;
        font-family: 'Lucida Sans Unicode';
        overflow: none;
    }

    .Unsupported {
        display: none;
    }
    
    .Header {
        display: block;
        text-align: center;
        margin: auto;
        padding: 25px;
        color: white;
        background-color: #111;
        display: block;
    }

    .Download h1 {
        display: block;
        text-align: center;
        margin-top: 5%;
        margin-left: 20%;
        margin-right: 20%;
        background-color: black;
        margin-bottom: -35px;
        padding: 15px 30px;
        color: white;
        border: 2px solid crimson;
    }

    .Download p {
        font-size: 15px;
        font-weight: lighter;
        color: white;
        margin-bottom: 20px;
    }

    .Download a {
        display: block;
        text-decoration: none;
        color: white;
        background-color: crimson;
        padding: 15px 30px;
        text-align: center;
        display: block;
        margin-top: 5%;
        margin-left: 20%;
        margin-right: 20%;
        border: 2px solid crimson;
        border-top: none;
    }

    .Tutorial h1 {
        display: block;
        text-align: center;
        margin-top: 5%;
        margin-left: 20%;
        margin-right: 20%;
        background-color: black;
        margin-bottom: -35px;
        padding: 15px 30px;
        color: white;
        border: 2px solid dodgerblue;
    }

    .Tutorial p {
        font-size: 15px;
        font-weight: lighter;
        color: white;
    }

    .Tutorial a {
        display: block;
        text-decoration: none;
        color: white;
        background-color: dodgerblue;
        padding: 15px 30px;
        text-align: center;
        display: block;
        margin-top: 5%;
        margin-left: 20%;
        margin-right: 20%;
        border: 2px solid dodgerblue;
        border-top: none;
        cursor: auto;
    }
}