* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

*:focus {
    outline: none;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    overflow: hidden;
}

.Main {
    width: 400px;
    height: auto;
    color: white;
    font-family: 'roboto', sans-serif;
}

.Heading {
    text-transform: capitalize;
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 50px;
}

input {
    width: 80%;
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    color: white;
    padding: 15px;
    transition: .5s;
}

input::placeholder {
    color: fff;
}

input:focus {
    background-color: #333;
    color: white;
    width: 85%;
}

.Login-Button {
    margin: 35px auto 0;
    padding: 0 20px;
    cursor: pointer;
    transition: .5s;
}

.Login-Button:focus {
    background-color: crimson;
    color: white;
}

hr {
    margin: 20px auto;
    width: 80%;
}

table {
    margin: 0 auto;
}